<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="app.wsgi" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\path\to\your\app.wsgi" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
